body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bd791f;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to a lighter shade on hover */
  li a:hover {
    background-color: #eaba6d;
  }
  
  li:last-child {
    border-right: none;
  }

#content {
    text-align: center;
    margin-top: 50px;
}

#actionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}